@import 'tailwindcss';

@font-face {
    font-family: "acme";
    src: url('./assets/fonts/Acme-Regular.woff') format("woff"),
        url('./assets/fonts/Acme-Regular.woff2') format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "caveat";
    src: url('./assets/fonts/Caveat-Regular.woff') format('woff'),
        url('./assets/fonts/Caveat-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: "luckiestguy";
    src: url('./assets/fonts/LuckiestGuy-Regular.woff') format('woff'),
        url('./assets/fonts/LuckiestGuy-Regular.woff2') format('woff2');
    font-display: swap;
}

@theme {
    --font-acme: 'acme';
    --font-caveat: 'caveat';
    --font-luckiestguy: 'luckiestguy';
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: var(--font-acme);
    }
    a.active {
        @apply text-blue-700
    }
}